body {
  background-color: #f2f4f9;
}

.main-container {
  display: flex;
}

.search-img-container {
  width: 75%;
}

input {
  width: 99.5%;
  height: 40px;
  border: hidden;
  border-radius: 5px;
  display: block;
  margin: auto;
}

.images {
  width: 99.5%;
  margin: 1% auto 20px auto;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
}

.hr3 {
  width: 100%;
  background-color: #f2f4f9;
}

.img-container {
  height: 100px;
  width: 100px;
  background-color: black;
  margin: 0 1% 0 0;
  cursor: pointer;
}

.choose-img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.img-container .description {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: white;
  margin-top: -10px;
  border-radius: 5px;
}

.checkout-field {
  width: 25%;
  background-color: white;
  margin: 0 0 0 5px;
  border-radius: 5px;
}

.user {
  margin: 10px 0 0 20px;
}

.hr1 {
  width: 98%;
  background-color: #f2f4f9;
}

.main-product {
  height: 67vh;
  overflow-y: scroll;
}

.product-container {
  display: flex;
  position: relative;
}

.add-img {
  height: 40px;
  width: 40px;
  border: 1px solid #f2f4f9;
  margin: 0 0 0 20px;
}

.one-circle {
  height: 15px;
  width: 15px;
  border-radius: 50% 50% 50% 50% / 50% 50% 45% 45%;
  background-color: #43ad94;
  color: white;
  text-align: center;
  font-size: smaller;
  font-weight: bold;
  position: absolute;
  left: 55px;
  bottom: 30px;
}

.description-full {
  padding: 10px;
}

.trash-icon {
  cursor: pointer;
}

.hr2 {
  width: 90%;
  background-color: #f2f4f9;
}

.trash-icon {
  padding: 10px;
}

.count-container {
  margin: 0 11px 0 11px;
}

.discount,
.subtotal,
.tax,
.total {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.pay-container,
.pay-button {
  width: 100%;
}

.pay-button {
  display: flex;
  justify-content: space-between;
  background-color: #7872b9;
  color: white;
  padding: 10px;
  border: 1px solid #7872b9;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.options,
.new-sale {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid white;
  cursor: pointer;
}
